<div class="card p-5 m-5">
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>
<div class="d-flex gap-3">
<div class="my-3">
<%= link_to "Modification", edit_task_path(@task), :class => 'btn btn-primary'%>
</div>
<div class="my-3">
<%= link_to "Delete", task_path(@task),:class => 'btn btn-primary', data: {turbo_method: :delete}%>
</div>
<div class="my-3">
<%= link_to "Back to home", tasks_path, :class => 'btn btn-primary' %>
</div>
</div>
</div>
